<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<section class="all_users">
  <%@users.each do |user|%>
  <article class="user_details">
    <%=link_to user.username, user_path(user.id) %>
  </article>
  <%end%>
</section>
