// Place all the styles related to the MainPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero-container {
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("/assets/images/Triad B.png");
}
