<h1>Categories#index</h1>
<p>Find me in app/views/categories/index.html.erb</p>

<section>
<%= link_to "New Category" ,new_category_path %>

<% @categories.each do |category| %>
  <ul>
    <li><%= link_to category.name, category_path(category.id) %></li>
  </ul>
<% end %>

</section>
