<!-- TODO : CATEGORIES NOT FUNCTIONING AS A LINK TO THE CATEOGRY SHOW PAGES -->
<h6>Shop by category</h6>
<!-- <select>
  <% Category.all.each do |category| %>
  <option><%# link_to category.name, categories_path(categories.id) %></option>
  <% end %>
</select> -->




  <% Category.all.each do |category| %>
    <%= link_to category.name, category_path(category.id) %>
  <% end %>









<h2>All Products</h2>

<section class="products">
<% @products.each do |product| %>
  <article class="product_details">
    <h3><%= link_to product.name, product_path(product.id) %></h3>
    <ul>
      <li>
        <strong>Price:</strong> $<%= product.price %>
      </li>
    </ul>
  </article>
  <% end %>
</section>
