<h1>Products#new</h1>
<p>Find me in app/views/products/new.html.erb</p>
<!-- 
<%= form_for @product do |f| %>
<%= f.label "Product Name", :name %>
<%= f.text_field :name %>

<% f.category "Cateogries", :category %>
<% f.checkbox :category %>

<% end %> -->
