<h1><%= @product.name %></h1>
<h3>$<%= @product.price %></h3>
<%= link_to "Add to cart", add_order_item_path(session[:order_id], @product.id), method: :patch, class: :button %>

<% if session[:merchant_id] %>
  <%= link_to "Edit Product", edit_product_path(@product.id), class: :button %>
<% else %>
  <h1>not signed in</h1>
<% end %>
